.pagination {
  margin: 0 auto;
  max-width: 300px;
  width: 100px;
}

.pagination-list {
  list-style: none;
}

.pagination-list > li {
  display: inline;
  border: 1px solid black;

  padding: 7px;
  margin-left: 1px;
}

.pagination-link {
  font-size: larger;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.pagination-link:focus {
  color: black;
}

.disabled {
  text-decoration: none;
  color: #5F5F5F;
  pointer-events: none;
}