
.icon-share:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */