@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./static/css/fontello.css";

body {
  font-family: "Nunito Sans", sans-serif;
  font-display: swap;
  overflow-x: hidden;
}

.btn {
  @apply p-3 text-center bg-gray-600 text-white cursor-pointer;

  &.rounded {
    @apply rounded-lg;
  }
  
  a {
    color:#fff!important;
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.7);
}
p {
  @apply py-5;
}
// FIXME: buralara baklava dagit

img {
  max-width: 100%;
  margin: 0 auto;
  width: 640px;
}

a {
  text-decoration: none;
}

.hero {
  text-align: center;
  min-height: 18vh;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.social-link {
  margin-right: 8px;
}

.hero-title {
  font-size: 48px;
}

.hero-minimal {
  @extend .hero;
  height: auto;
  min-height: 13vh !important;
}

.loadingBg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}
.lds-ring {
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 50%;
  z-index: 3;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loginDialog {
  width: 341px;
  min-height: 25vh;
  height: auto;
  background-color: #fff;
  z-index: 2;
  position: fixed;
  left: 35%;
  margin: 0 auto;


  @apply shadow-lg rounded-lg p-5;

  label {
    display:block
  }
}

input {
  @apply shadow-lg rounded-lg p-3 w-full
}


.newPost {
  height: 500px;
}

.form-group {
  margin: 20px;

  label {
    @apply font-semibold text-lg
  }
}


.profilePage {
  width: 80%;
  

  @apply mx-auto bg-gray-100;
}