@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
  font-display: swap;
  overflow-x: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.7);
}
p {
  @apply py-5;
}
// FIXME: buralara baklava dagit

img {
  max-width: 100%;
  margin: 0 auto;
  width: 640px;
}

a {
  text-decoration: none;
}

.hero {
  text-align: center;
  height: 18vh;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.social-link {
  margin-right: 8px;
}

.hero-title {
  font-size: 48px;
}

.hero-minimal {
  @extend .hero;
  height: auto;
  min-height: 13vh !important;
}
